electron_mirror=https://npmmirror.com/mirrors/electron/
ffmpeg_static_binary_site=https://npmmirror.com/mirrors/ffmpeg-static/
FFMPEG_BINARY_SITE=https://npmmirror.com/mirrors/ffmpeg-static/
ffmpeg-static_mirror=https://npmmirror.com/mirrors/ffmpeg-static/